

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax</title>
</head>


<style>
    .jumbotron {
        font-family: 'Montserrat', sans-serif;
        padding: 150px 0;
        background: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=841&q=80) center center;
        background-size: cover;
        text-align: center;
        color: #fff;
        position: relative;
      }
      
      .jumbotron h1 {
        font-size: 70px;
        margin-bottom: 0;
      }
      
      .jumbotron p {
        font-family: serif;
        font-size: 30px;
        font-style: italic;
        margin: 0 0 30px;
      }
</style>
<body>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Searching for book</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: lightblue;">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container">
            <input type="text" name="" id="keyword" placeholder="Cari Buku" autocomplete="off">
        </div>
        <div class="container">
            <div id="daftar_isi"></div>
        </div>
    
    </body>
    
    

        <script type="text/javascript">
            $("#keyword").keyup(function(){
                var input = $("#keyword").val();
        
                //calling using ajax
                $.ajax({
        
                    //direct url to google api's
                    url: '/book/cari?q=' + input,
                    
                    success: function(data){
                        //assign items into array_items
                        var array_items = data.items;
        
                        $("#daftar_isi").empty();
        
                        //iterate every items in array_items
                        for(i = 0; array_items.length; i++){
                            //getting the title of the books
                            var title = array_items[i].volumeInfo.title;
                            var source_image = array_items[i].volumeInfo.imageLinks.smallThumbnail; 
                            var description = array_items[i].volumeInfo.description;
                            var read_more = array_items[i].volumeInfo.previewLink;
                            var image = "<img src=" + source_image + "class=" + "card-img" + ">"
                            $("#daftar_isi").append(
                                "<table class="+"table table-dark"+">" +
                                    "<thead>" +
                                      "<tr>" +
                                        "<th scope=" + "col" + ">" + "Cover" + "</th>" +
                                        "<th scope=" + "col" + ">" + "Name" + "</th>" +
                                        "<th scope=" + "col" + ">" + "Description" + "</th>" +
                                        "<th scope=" + "col" + ">" + "Link" + "</th>" +
                                      "</tr>" +
                                    "</thead>" +
                                    "<tbody>" +
                                      "<tr>" +
                                        "<th scope=" +"row" + ">" + image  + "</th>"+
                                        "<td>" + title + "</td>" +
                                        "<td>" + description + "</td>" +
                                        "<td>" + "<a href=" + read_more + "class=" + "btn btn-primary" + ">" + "Read More" + "</a>" + "</td>" +
                                      "</tr>"
                            );
                        }
                    }
                });
            });
        
        </script>
</body>
</html>
